{% set tmp_dir = tmp_dir ~ '/duplicity' %}
#!/bin/bash

targets=({% for target in targets %}'{{ target }}' {% endfor %})

begin () {
    text=$1
    printf "\n--- $text ---\n"
}

backup () {
    src=$1
    dest=$2

    for target in "${targets[@]}"
    do
        url=$target/{{ ansible_fqdn }}/$dest
        duplicity --full-if-older-than {{ remove_time }} --tempdir {{ tmp_dir }} --exclude '**cache/**' --exclude '**log/**' --exclude '**logs/**' --exclude '**tmp/**' --exclude '**.lock**' $src $url
        duplicity remove-older-than {{ full_time }} --force $url
    done
}

mkdir -p {{ tmp_dir }}
chmod 700 {{ tmp_dir }}

{% if directories %}
# Directories
{% for directory in directories %}
backup '{{ directory }}' '{{ directory }}'
{% endfor %}
{% endif %}

{%- if mysql %}
{% set dest = '/mysql' %}
{% set src = tmp_dir ~ dest -%}

begin MySQL
mkdir -p {{ src }}
databases=`mysql --user=root -e "SHOW DATABASES;" | grep -Ev "(Database|information_schema|performance_schema)"`

for db in $databases; do
    mysqldump -u root -h 127.0.0.1 --single-transaction --routines --triggers --events --ignore-table=mysql.event --add-drop-table --extended-insert --databases $db > "{{ src }}/$db.sql"
done

backup {{ src }} {{ dest }}
{% endif %}

{% if mongodb %}
{% set dest = '/mongodb' %}
{% set src = tmp_dir ~ dest -%}

begin MongoDB
mkdir -p {{ src }}
mongodump --out {{ src }}

backup {{ src }} {{ dest }}
{% endif %}

rm -rf {{ tmp_dir }}

exit 0
