[mysqld]
innodb_buffer_pool_size = {{ innodb_buffer_pool_size }}
query_cache_type        = {{ query_cache_type }}
query_cache_size        = {{ query_cache_size }}
max_connections         = {{ max_connections }}
